body {
  text-align: center;
  font-family: "montserrat";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat-bold", sans-serif;
}

p {
  color: #8f8f8f;
  padding: 0% 15%;
}
.container-fluid {
  padding: 7% 15%;
}
/* color vs non color section */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}
.white-section {
  background-color: white;
}

/* Headings */
.big-heading {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
}
.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Title Section */

#title .container-fluid {
  padding: 3% 15% 7%;

  text-align: left;
}

.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  font-family: "ubuntu";
}

.navbar-nav {
  margin-left: 55%;
}
.nav-item {
  padding: 0 5%;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "montserrat-light";
}
.rotate {
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  right: 30%;
}
.rotate-container {
  position: relative;
}
img {
  width: auto;
  height: auto;
}
.dlbtn {
  margin: 5% 3% 5% 0;
}
/* Features section */
.feature-title {
  font-size: 1.5rem;
}
#features {
  padding: 7% 15%;
  position: relative;
}

/* Icon images  */
.icon-format {
  font-size: 3em;
  margin-bottom: 1rem;
  color: #ef8172;
}
.icon-format:hover {
  color: #ff4c68;
}

/* Testimonial Section */
.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}
#testimonials {
  background-color: #ef8172;
  position: relative;
  z-index: 1;
}
.testimonial-img-format {
  margin: 20px;
  border-radius: 50%;
  width: 10%;
}

#press {
  padding-bottom: 3%;
  background-color: #ef8172;
}
.press-img {
  width: 10%;
  margin: 20px 20px 50px;
}
.carousel-indicators {
  margin-bottom: 5%;
}

/* Section 3 Pricing */
.price-text {
  font-size: 3rem;
  line-height: 1.5;
}
#pricing {
  padding: 100px;
}
.card {
  padding: 0px;
  height: 100%;
}
.rowpad {
  padding-top: 40px;
}
.btnfix {
  margin-bottom: 57px;
}
/* Media Query */
@media (max-width: 1028px) {
  #title {
  }
  .rotate {
    position: static;
    transform: rotate(0deg);
  }
}
/* CALL TO ACTION LAST SECTION */

#footer {
  font-size: 0.8rem;
  padding: 7% 20%;
}
.logo-img {
  padding: 1% 1% 2%;
}
